.list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
.Item {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;  
  width: calc((100% - 80px) / 4);
  background-color: #fff;
}

.Item:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
  
.Cards {
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

}

.Image img {
  display: block;
  max-width: 100%;
  min-height: 600px;
  object-fit: cover;
}
  
.Title {
  height: 80px;
  margin: 0;
  padding: 10px;
  font-weight: 600;
  color: black;
}

.MovieContent {
  display: block;
  padding: 0 20px;
  color: blueviolet;
}

.Vote {  
  margin: 0;
  padding-bottom: 15px;
  font-weight: 500;
}