.nav {
    padding-top: 10px;
}

.NavLink {
    margin-left: 20px;
    display: flex;    
    flex-wrap: wrap;
    padding: 10px;
    text-decoration: none;    
    text-transform: uppercase;
    color: teal;

    
}